In [7]:
from utils import collect as col

In [8]:
ROUTE = "train_data/source/"

df_combined, df_train, df_test= col.collect_and_join(ROUTE)

In [9]:
df_combined.head()

,Unnamed: 0.1,city,Unnamed: 0,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Stadium
29768,5512,Bangalore,5512,5273000,2003,Bagaluru Near Yelahanka,3.0,0.0,9.0,9.0,...,9.0,9.0,9,9.0,9.0,9.0,9.0,9.0,9,9.0
10347,3831,Kolkata,3831,2600000,3440,Alipore,5.0,1.0,9.0,9.0,...,9.0,9.0,9,9.0,9.0,9.0,9.0,9.0,9,9.0
23156,6119,Mumbai,6119,14500000,1655,Kandivali East,3.0,NaN,9.0,9.0,...,9.0,9.0,9,9.0,9.0,9.0,9.0,9.0,9,9.0
4402,2384,Delhi,2384,18800000,1800,Sector 9 Dwarka,3.0,1.0,9.0,9.0,...,9.0,9.0,9,9.0,9.0,9.0,9.0,9.0,9,9.0
2577,559,Delhi,559,16000000,1650,Sector 6 Dwarka,3.0,1.0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,NaN,0.0,0.0,0,0.0

In [10]:
df_test.shape

(8989, 43)

In [11]:
df_train.shape

(20974, 43)

In [12]:
DEST_ROUTE = "train_data/preprocessed/"
df_combined.to_csv(DEST_ROUTE + "combine_data.csv", index = False)
df_train.to_csv(DEST_ROUTE + "train_data.csv", index = False)
df_test.to_csv(DEST_ROUTE + "test_data.csv", index = False)